.title {
    @apply absolute font-medium  text-[#ffffff] top-4 w-max text-center px-2 hover:underline bg-[#0000003d];
    font-size: clamp(20px, 2vw, 1.5rem);
    left: 50%;
    backdrop-filter: blur(5px);
    border-radius: 12px;
    transform: translateX(-50%);
}
