.heroText {
    background-image: url('/images/images/main-bg.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    max-height: 320px;
}

.wrapper {
    h1 {
        font-size: clamp(32px, 4vw, 52px);
    }
}