.popupDiv {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    scale: 0;
    transition: scale 0.3s linear;
    @apply flex items-center justify-center;
}
.show {
    scale: 1;
    backdrop-filter: blur(8px);
}
.wrapper img {
    object-fit: cover;
}
