@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body, html {
    scroll-behavior: smooth;
}
.slick-slide {
    display: flex !important;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s ease;
}
.content.open {
    grid-template-rows: 1fr;
}

body #bookero-plugin .bookero-plugin-header {
    background-color: #522c22;
}

body #bookero-plugin .submit-section .submit-button {
    background-color: #522c22;
}