.list {
    @apply flex gap-4;
    @media screen and (max-width: 900px) {
        @apply flex-col items-center;
    }
    a {
        @apply block p-3 relative text-black;
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0) 100%);
            transition: width 0.3s linear;
        }
        &:hover:after {
            width: 100%;
        }
    }
}
